<% if @user.errors.any? %> <!--any? is the opposite of empty?, returning true if there are any elements in the array-->
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		<p>There were problems with the following fields:</p>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>	