<tr>
	<td class="micropost">
		<span class="content"><%= micropost.artist %></span>
	</td>
	<td class="micropost">
		<span class="content"><%= micropost.track %></span>
	</td>
	<td class="micropost">
		<span class="timestamp">
			<%= time_ago_in_words(micropost.created_at) %> ago.
		</span>
	</td>
	<% if current_user?(micropost.user) %>
	<td>
		<%= link_to "delete", micropost, :method => :delete, :confirm => "Are you sure?" %>
	</td>
	<% end %>
</tr>